<app-header></app-header>
<div>
  <form>
      <div class=" row">
        <div class ="form-group col-md-6">
          <label >nom </label><input type="text" class="form-control">
          <label >prenom </label> <input type="text" class="form-control">
          <label >num telephone </label><input type="text"  class="form-control"> 
        </div>  


        <div class ="form-group col-md-6">
            <label > email </label> <input type="text"  class="form-control">      
            <label >mot de passe </label>
            <input  id ="pass" type="password" class="form-control">
            <label >retaper  mot de passe </label>
             <input   id ="repass"type="password" class="form-control">
           <button class="btn btn-lg btn-primary" type="submit">s'inscrire</button>
        
        </div>
      </div>
      
      
      
      
      
  </form>
</div>
<app-footer></app-footer>