<app-header></app-header>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Todo List!</h1>
      <p>La vie sembmler parfois écrassante, mais ça n'a pas à étre le cas.<br>Avec TOdo List, vous garder tout en un seul lieu, pour faire ce que vous souhaitez et profiter de plus de tranquillité  d'esprit en cours de route. </p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Planifiez</h2>
        <p>Planifiez vos projets et vos objectifs, étape par étape avec les sectionsde projets et les sous taches. </p>
        
      </div>
      <div class="col-md-4">
        <h2>N'oubliez plus</h2>
        <p>N'oubliez plus les échéances  et créez des habitudes avec les dates d'échéances et les dates d'échéances récurrentes, comme "tous les lundis". </p>
        
      </div>
      <div class="col-md-4">
        <h2>Commencez</h2>
        <p>Commencez chaquev jouren étantdétendu et aux commandes visualisez clairement tous ce que devez faire et ne perdez plus de vue une tache importante.</p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<app-footer></app-footer>