.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn1
  {
    padding:6px 0 6px 0;
      font:bold 13px Arial;
      background:#f5f5f5;
      color:#555;
      border-radius:2px;
      width:100px;
      border:1px solid #ccc;
    
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  body {
    padding-top: 3.5rem;
  }